#wrap {
    width: 1200px; margin: 30px auto;
    .menu_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        li { 
            margin-left: 180px;
            text-align: center;
        }
        img {
            margin-left: 10px
        }
    }
    .visual {
        margin-top: 100px;
        h1 {
            text-align: center;
            margin-bottom: 70px;
        }
        p {
            line-height: 2;
        }
    }
    .contents01 {
        
        margin-top: 70px;
        h1 {
            text-align: center;
        }
        img {
            width: 25%;
            margin-top: 20px;
            margin-left: 50px;
        }
        .content_list {
            margin-top: 70px;
            text-align: center;
            line-height: 2;
            
            dl {
                margin-left: 600px;
                margin-top: -430px;
                width: 50%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
            }
            dt {
                display: flex;
                flex-flow: row;
            }
            dd {
                margin-top: -30px;
            }
        }
    }
    .contents02 {
        padding-top: 10px;
        border: 3px solid #ccc;
        margin-bottom: 30px;
        border-radius: 15px;
        margin-top: 100px;
        margin-left: 20px;
        display: flex;
        flex-direction: row wrap;
        justify-content: space-between;
        h1 {
            margin-left: 10px;
        }
        h2 {
            margin-top: 20px;
            margin-left: 20px;
            font-size: 18px;
        }
        .contents_list01 {
            margin-left: 20px;
        }
        .contents_spec {
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-left: 30px;
            width: 83%;
            .content_sp {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .contents_spec01 {
                    width: 30%;
                    img {
                        width: 100%;
                    }
                    p {
                        text-align: center;
                        margin-left: 10px;
                    }
                }
            }
            .contents_sp2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                .contents_spec02 {
                    width: 40%;
                    img {
                        width: 100%;
                    }
                    p {
                        text-align: center;
                        margin-left: 10px;
                        margin-top: -35px;
                    }
                }
            }
            
        }
        .contents_list02 {
            margin-left: 60px;
            h2 {
                margin-top: 60px;
            }
            .contents_spec03 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 30%;
                .contents_hub {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    img {
                        margin-right: 30px;
                        width: 88%;
                    }
                    p {
                        text-align: center;
                        margin-left: -40px;
                        margin-top: -5px;
                    }
                }
                .contents_slack {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin-left: 100px;
                    margin-top: -115px;
                    img {
                        margin-left: 30px;
                        margin-top: 5px;
                        width: 100%;
                    }
                    p {
                        text-align: center;
                        margin-left: 60px;
                        margin-top: -10px;
                    }
                }
                
            }
        }
        .contents_list03 {
            h2 {
                margin-top: 60px;
            }
            .contents_linsense {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-direction: row;
                width: 77%;
                margin-right: 120px;
                .contents_linsense01 {
                    width: 50%;
                    img {
                        width: 50%;
                        margin-right: 90px;
                    }
                    p {
                        text-align: center;
                        margin-left: -80px;
                    }
                }
                .contents_linsense02 {
                    margin-top: 20px;
                    margin-left: -50px;
                    img {
                        width: 50%;
                    }
                    p {
                        margin-top: 0px;
                        margin-left: -55px;
                        text-align: center;
                    }
                }
                .contents_linsense03 {
                    margin-top: 10px;
                    img {
                        width: 50%;
                    }
                    p {
                        text-align: center;
                        margin-top: 10px;
                        margin-left: -60px;
                        margin-bottom: 30px
                    }
                }
                .contents_linsense04 {
                    margin-top: -110px;
                    img {
                        width: 50%;
                    }
                    p {
                        margin-top: 16px;
                        text-align: center;
                        margin-left: -50px;
                        
                    }
                }
            }
        }
    }
    #project img {
        max-width: 1200px;
    }
    #project {
        overflow: hidden;
        h2 {
            margin-top: 20px;
        }
        border: 3px solid #ccc;
        border-radius: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 10px;
        .project_list {
            text-align: center; margin: 20px;
        }
    }
    .contents_bottom {
        display: flex;
        .contents03 {
            border: 3px solid #ccc;
            border-radius: 10px;
            width: 600px;
            margin-left: 20px;
            padding: 10px;
        }
        .content_info01 {
            display: flex;
            flex-wrap: wrap;
            font-size: 16px;
            margin-left: 10px;
            font-size: 25px;
            .content_p02 {
                margin-left: 30px;
            }
        }
        .content_info02 {
            margin-top: 10px;
            display: flex;
            margin-left: 10px;
            font-size: 16px;
            .content_p04 {
                margin-left: 30px;
            }
        }
        .my_sns {
            display: flex;
            border: 3px solid #ccc;
            border-radius: 10px;
            width: 600px;
            padding: 10px;
            margin-left: 50px;
            img {
                margin-left: 90px;
            }
        }
    }
    
    
    
}
footer { 
    margin-top: 30px;
    background-color: #ccc;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
a .fa-arrow-circle-up { 
        right: 30px; 
        bottom: 10px; 
        font-size: 43px; 
        position: fixed; 
    &.fa-arrow-circle-up:hover { 
        color: rgb(146, 117, 117);
     }
}
